{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "espower",
    "syntax-object-rest-spread",
    [
      "module-alias", [
        { "src": "./lib", "expose": "$lib" }
      ]
    ]
  ],
  "ignore": "./lib/*.js"
}
