/* Sample SCSS */

$grey-white: #dfdfdf;
$main-content-bg-color: #475169;

* {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

a {
  text-decoration: none;
  color: #e46e15;

  &:hover {
    text-decoration: underline;
  }
}

#main {
  width: 90%;
  height: 100%;
}

.sample-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 95%;
}

.sample-main {
  flex-grow: 3;
}

/* header */

.header {
  border-bottom: 3px solid #bbb;
  padding: 10px;
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  &__left {
    flex-grow: 3;
    margin-left: 30px;
  }

  &__right {
    flex-grow: 1;
    margin-right: 20px;
    text-align: right;
  }

  &__title {
    color: $grey-white;
    font-size: 20px;

    .fa-fire {
      margin-right: 10px;
      color: #ef9f62;
    }
  }

  &__source {
    width: 100px;
    color: $grey-white;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  &__source__icon {
    margin-right: 5px;
  }
}

/* board */

.board-frame {
  border: 1px solid #aaa;
  color: #fff;
  padding: 5px;
  margin: 10px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 0 .5em .1em #eee;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  .expander {
    $size: 15px;
    position: absolute;
    width: $size;
    height: $size;
    background-color: #fff;
    border-radius: $size;
    bottom: 0;
    right: 0;
    animation: blink-white 1s infinite;
    cursor: move;
    transition: .2s linear;

    &:hover, &.re-expanding {
      background-color: #e46e15;
      animation: blink-red 1s infinite;
    }
  }
}

.board__content-bg {
  width: 100%;
  background-color: $main-content-bg-color;
  padding: 10px;
  border-radius: 10px;
}

.board__content {
  min-width: 700px;
  min-height: 350px;
  height: 90%;
  position: relative;
}

.board__description {
  padding: 3px;
  margin: 15px;

  h2 {
    margin-top: 0;
  }

  p {
    line-height: 1.1em;
    max-width: 450px;
  }
}

.poster {
  margin: 5px;
  background-color: #a7bfd4;
  width: 150px;
  height: 150px;
  padding: 1px 15px;
  border-radius: 2px;
  box-shadow: 0 0 .3em .1em #eee inset;
  position: relative;
  overflow: hidden;
  position: absolute;

  .poster-expander {
    position: absolute;
    width: 0;
    height: 0;
    cursor: move;
  }
}

@mixin foldPoster($dirX, $dirY, $otherX, $otherY) {
  #{$dirX}: 0;
  #{$dirY}: 0;
  border-#{$dirX}: 6px solid $main-content-bg-color;
  border-#{$dirY}: 6px solid $main-content-bg-color;
  border-#{$otherX}: 6px solid #698CB4;
  border-#{$otherY}: 6px solid #698CB4;
}

.poster-react {
  margin-top: 25px;

  .poster-expander {
    @include foldPoster(right, bottom, left, top);
  }
}

.poster-example {
  top: 10px;
  right: 5px;

  .poster-expander {
    @include foldPoster(left, bottom, right, top);
  }
}

.poster-repository {
  bottom: 30px;
  right: 180px;

  .poster-expander {
    @include foldPoster(left, top, right, bottom);
  }
}

/* footer */

.footer {
  border-top: 1px solid #888;
  padding-top: 8px;
  margin-top: 10px;
  height: 30px;

  &__author {
    width: 40%;
    margin-left: 20px;
    color: #aaa;
    font-size: 14px;

    a {
      margin-left: 5px;
      color: inherit;
      font-size: inherit;
    }
  }
}

/* animation */

$blink-anims: (white: white, red: #e46e15);
@each $name, $color in $blink-anims {
  @keyframes blink-#{$name} {
    0% {
      box-shadow: 0 0 0 0 rgba($color, .2);
      transform: scale(1);
    }
    30% {
      transform: scale(.85);
    }
    40% {
      box-shadow: 0 0 .1em .3em rgba($color, .5);
      transform: scale(1);
    }
    80% {
      box-shadow: 0 0 .5em 1.2em rgba($color, 0);
      transform: scale(1);
    }
  }
}
